<!DOCTYPE html>
<html>
<head>
    <title>Spam Detector</title>
</head>
<body>

<h2>Spam Detector</h2>

<input type="text" id="msg" placeholder="Enter message">
<button onclick="check()">Check</button>

<h3 id="result"></h3>

<script>
function check(){
    fetch("http://127.0.0.1:5000/predict",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            message:document.getElementById("msg").value
        })
    })
    .then(res=>res.json())
    .then(data=>{
        document.getElementById("result").innerHTML="Result: " + data.prediction;
    });
}
</script>

</body>
</html>